
.add-modal {
  min-width: 450px;
}

.add-modal-content {
  display: flex;
  flex-direction: column;
  padding: var(--space-2xl);
  gap: var(--space-2xl);
}

.add-modal-title,
.add-modal-submit {
  align-self: center;
}