.bg-secondary {
  background-color: var(--bg-color-secondary);
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.col-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}