<!-- header -->
<header class="header bg-secondary">
<div class="wrapper">
    <div class="container">
    <div class="header-container">
        <div class="header-logo">
        <a href="/" title="Главная страница" class="header-logo__link">
            <img src="{{'assets/images/logo.svg'|theme}}" alt="Логотип SPL Health" class="header-logo__image" />
        </a>
        </div>
        <nav class="header-nav">
        <ul class="header-menu">
            {# <li class="header-menu__item">
            <a href="#" title="Новости" class="header-menu__item-link">Новости</a>
            </li> #}
            <li class="header-menu__item">
            <a href="/programs" title="Программы" class="header-menu__item-link">Программы</a>
            </li>
            {# <li class="header-menu__item">
            <a href="#" title="О компании" class="header-menu__item-link">О компании</a>
            </li> #}
            {# <li class="header-menu__item">
            <a href="#" title="Партнёры" class="header-menu__item-link">Партнёры</a>
            </li> #}
        </ul>
        <a
            href="https://lk.splhealth.ru/profile"
            title="Личный кабинет"
            class="header-nav__user"
            target="_blank"
        >
            <img src="{{'assets/images/user.svg'|theme}}" />
        </a>
        </nav>
    </div>
    </div>
</div>
</header>
<!-- /header -->
